@media only screen and (min-width: 768px){
    .page-content-wrapper.fixed {
        min-height: calc(100% - 130px);
        max-height: calc(100% - 130px);
    }
}
header{
    background:#1C436B;
}
ol.breadcrumb.navbar-brand {
    height: 40px;
}
.page-header {
    height: auto;
    padding: 20px 00px;
    border-bottom: none;
    margin: 0;
}

.page-header:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

.page-title {
    width: auto;
    float: left;
    margin-right: 20px;
}
.page-title h3{
    margin: 0px;
}


.media {
    margin-top: 0px;
}
.media-left {
    padding-right:0px;
}
.media-body{ background-color: #EFEFEF;}

span.icon{
    height: 40px;
    width: 40px;
}

nav.navigation {
    background: #525252;
    color: #fff;
    position: relative;
    min-height: 100px;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

nav.navigation > a, nav.navigation {
    display: table;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    position: relative;
}

nav.navigation > a > .icon {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
}

nav.navigation > a > .icon > i {
    margin: 0 11px;
    line-height: 100%;
    font-size: 21px;
    position: relative;
    top: 2px;
    margin-top: 5px;
}

nav.navigation > a > .left-menu-item {
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
    line-height: 38px;
    float: left;
    width: 160px;
    height: 40px;
    font-size: 14px;
}

nav a.active .sublevel-menu {
    display: block;
}

nav .sublevel-menu {
    display: none;
}

nav.navigation.sublevel-menu{
    display: none;
}

nav.navigation > a.home .icon {
    background: #c0392b;
    color: white;
}

nav.navigation > a.home.active {
    background: #c0392b;
    color: white;
}

nav.navigation > a.home.active > .left-menu-item {
    background: #c0392b;
}

nav.navigation > a.green .icon {
    background: #27ae60;
    color: white;
}

nav.navigation > a.green:hover > .icon {
    background: #27ae60;
    color: white;
}

nav.navigation > a.green:hover > .left-menu-item, nav.navigation > a.green.active > .left-menu-item, nav.navigation > a.green.hover > .left-menu-item {
    background: #27ae60;
    color: white;

}

nav.navigation > a.red .icon {
    background: #c0392b;
    color: white;
}

nav.navigation > a.red:hover > .icon {
    background: #c0392b;
    color: white;
}

nav.navigation > a.red:hover > .left-menu-item, nav.navigation > a.red.active > .left-menu-item, nav.navigation > a.red.hover > .left-menu-item {
    background: #c0392b;
    color: white;

}

nav.navigation > a.orange .icon {
    background: #d35400;
    color: white;
}

nav.navigation > a.orange:hover > .icon {
    background: #d35400;
    color: white;
}

nav.navigation > a.orange:hover > .left-menu-item, nav.navigation > a.orange.active > .left-menu-item, nav.navigation > a.orange.hover > .left-menu-item {
    background: #d35400;
    color: white;

}

nav.navigation > a.yellow .icon {
    background: #f39c12;
    color: white;
}

nav.navigation > a.yellow:hover > .icon {
    background: #f39c12;
    color: white;
}

nav.navigation > a.yellow:hover > .left-menu-item, nav.navigation > a.yellow.active > .left-menu-item, nav.navigation > a.yellow.hover > .left-menu-item {
    background: #f39c12;
    color: white;

}

nav.navigation > a.blue .icon {
    background: #2980b9;
    color: white;
}

nav.navigation > a.blue:hover > .icon {
    background: #2980b9;
    color: white;
}

nav.navigation > a.blue:hover > .left-menu-item, nav.navigation > a.blue.active > .left-menu-item, nav.navigation > a.blue.hover > .left-menu-item {
    background: #2980b9;
    color: white;

}

nav.navigation > a.purple .icon {
    background: #8e44ad;
    color: white;
}

nav.navigation > a.purple:hover > .icon {
    background: #8e44ad;
    color: white;
}

nav.navigation > a.purple:hover > .left-menu-item, nav.navigation > a.purple.active > .left-menu-item, nav.navigation > a.purple.hover > .left-menu-item {
    background: #8e44ad;
    color: white;

}

nav.navigation > a.grey .icon {
    background: #2c3e50;
    color: white;
}

nav.navigation > a.grey:hover > .icon {
    background: #2c3e50;
    color: white;
}

nav.navigation > a.grey:hover > .left-menu-item, nav.navigation > a.grey.active > .left-menu-item, nav.navigation > a.grey.hover > .left-menu-item {
    background: #2c3e50;
    color: white;

}

nav.navigation .second_level {
    display: none;
}

nav.navigation .second_level a {
    line-height: 20px;
    padding: 8px 0 8px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

nav.navigation .second_level a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

nav.navigation .second_level > .back {
    height: 100%;
    padding: 0 3px;
    background: #FFF;
    vertical-align: middle;
    font-size: 13px;
    width: 5px;
}

nav.navigation .second_level > .left-menu-item {
    padding: 6px 0;
    text-align: left;
    width: 100%;
    vertical-align: middle;
}

.tags-wrapper{
    margin-top: 15px;
}

.tag-title {
    background-color: #444444;
    border: 1px solid #444444;
    height: 40px;
    padding-top: 5px;
    width: 200px;
    padding-left: 10px;
    font-size: 18px;
    color: #fff;

}

.tag-content {
    word-wrap: break-word;
    width: 200px;
    padding-left: 10px;
    line-height: 30px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 15px;
    background-color: #FBFBFB;
    padding-top: 7px;
    display: inline-block;

}

.tag-content > label {
    padding: 3px 8px;
    line-height: 19px;
    font-weight: 400;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #E4E3E3;
    font-size: 12px;
}

.tag-content > label:hover {
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
}

.tag-content > li {
    padding: 3px 8px;
    line-height: 19px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #E4E3E3;
    font-size: 12px;
    float: left;
    list-style: none;
    margin: 5px;
}

.tag-content > li:hover {
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
}

.tag-content > li.active {
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
}

.tag-more {
    float: right;
    margin-right: 11px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 3px;
}
.category-wrapper {
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.category>.dropdown-toggle{
    color: #000;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 100;
    height: 39px;
    padding: 8px 10px 7px 10px;
    text-decoration: none;
    width: 193px;
    background-color: whitesmoke;
    border: none;
}
.category>.dropdown-menu>li>a:hover {
    background: #1a78d8;
    cursor: pointer;
    color: #fff;
}
.category>.dropdown-menu>li>a {
    font-weight: 100;
    padding:10px;
}
.category>.dropdown-menu{
    padding: 5px 0;
    margin: 0px 15px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border-top: 0;
    width: 193px;

}
.search-wrap .dropdown-toggle{
    color: #FFF;
    background-color: #215080;
    border-color: #215080;
    padding: 9px 12px;
    margin-top: -3px;
}
.search-wrap .dropdown-toggle:hover{
    border-color: #215080;
}
a.btn .icon-caret, .btn .icon-caret {
    margin-left: 49px;
    border: none;
}
.btn{
    background-color: #0E75DC;
    color: #fff;
}
.btn .disabled{
    background-color: #0E75DC;
    color: #fff;
}
.btn:hover {
    background-color: #005ABA;
    color: #fff;
}
.btn-secondary{
    background-color: #444;
    color: #fff;
}
.btn-secondary:hover{
    background-color: #686868;
    color: #fff;
}
.product-tags{
    float: left;
    padding-top: 22px;
}

ul.product-tags {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.tag-label {
    float: left;
    padding: 3px 29px 3px 7px;
    border-radius: 0px;
    border: 1px solid #D6D6D6;
    margin-right: 7px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
}
.tag-label>.close {
    font-size: 16px;
    background: #fff;
    color: #333;
    margin-top: 3px;
    height: auto;
    width: auto;
    float: right;
}
.tag-label>.close:hover {
    background:none;
    color: #080808;
}

.tag-label:hover{
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
    text-decoration: none;
}
.product-tags>.alert{
    margin-bottom: 0;
}
.white-wrapper{
    background-color: #ffffff;
    position: relative;
}
.tab-content {
    padding: 20px 17px;
}
.tab-content h3{
    margin-top:0px;
}
.app-data h4{
    margin-bottom: 0px
}
.app-data h5{
    margin-top: 0px;
}
.ribbon {
    display: block;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 33px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    /* opacity: 0.7; */
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #C0392B;
    border: none;
    z-index: 500;
    padding-bottom: 7px;
}


/*========================*/

.more-list {
    float: right;
    height: Auto;
    opacity: .5;
    background-color: #F7F7F7;
    padding: 10px;
    margin-right: -10px;
    margin-top: -10px;
}
.more-list:hover {
    background-color:#333;
    color:#fff;
}
.body-wrapper a:hover {
    text-decoration: none;
}
.more-info{
    position: relative;
}
.more-info.pull-right>.dropdown-menu {
    margin-right: -10px;
}


.image-container {
    position: relative;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
}
.image-container>.after>a>span.fw-stack.fw-lg {
    /* background: red; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 26px;
}
.input-wrap>.form-control, .input-wrap .btn.wrap-input-right  {
    background-color: #215080;
    border: 0px;
    color: #FFF;
    height: 40px;
    margin-top:-3px;
}
.input-wrap>.form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.9;
    font-weight: 100;
}
.page-actions-right{float: right;}

.nano > .nano-pane {
    border-radius: 0;
}

.nano > .nano-pane > .nano-slider {
    border-radius: 0;
    background: #272c30;
}

.sidebar-nav .nano-pane > .nano-slider,
.sidebar-options .nano-pane > .nano-slider {
    background: #9e9e9e;
}


.page-content-wrapper.fixed .sidebar-wrapper.sidebar-nav,
.page-content-wrapper.fixed .sidebar-wrapper.sidebar-options {
    width: 250px;
    background: #373e44;
    overflow-y: auto;
    overflow: visible;
}

.page-content-wrapper.fixed .sidebar-wrapper.sidebar-nav-sub {
    height: 100%;
    z-index: 1000000;
    background: #272c30;
}

.sidebar-nav-sub:before {
    right: 100%;
    top: 75px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(39, 44, 48, 0);
    border-right-color: #272c30;
    border-width: 10px;
    margin-top: -10px;
}

.page-content-wrapper.fixed .sidebar-wrapper.sidebar-options {
    width: 235px;
    max-height: calc(100% - 85px);
}

.close-handle {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 1000;
    right: 0;
    border: none;
    color: #d6dde5;
    background: #3d464f;
    padding: 0;
    font-size: 10px;
}

.close-handle.close-sidebar {
    height: 30px;
    width: 30px;
    background: #4F6A80;
    font-size: 14px;
    color: #fff;
    display: none;
}

.sidebar-wrapper.toggled .close-handle.close-sidebar {
    display: block;
}

[data-side=left] .close-handle.close-sidebar {
    right: -30px;
}

[data-side=right] .close-handle.close-sidebar {
    left: -30px;
}

.sidebar-nav > .sidebar-brand, .sidebar-brand {
    height: 42px;
    line-height: 42px;
    background: #31383e;
    padding: 0 18px;
    font-size: 16px;
    text-transform: uppercase;
}

.sidebar-nav input,
.sidebar-options input,
.sidebar-nav select,
.sidebar-options select {
    background: #313840;
    border-color: #40474d;
    color: #fff;
}

.sidebar-nav hr,
.sidebar-options hr {
    margin: 15px 0;
}

.sidebar-nav .thumbnail,
.sidebar-options .thumbnail {
    background: transparent;
    border-color: #40474d;
    padding: 15px;
}

.sidebar-nav .thumbnail.selectable,
.sidebar-options .thumbnail.selectable {
    opacity: 0.4;
}

.sidebar-nav .thumbnail.selectable:hover,
.sidebar-options .thumbnail.selectable:hover {
    opacity: 1;
    cursor: pointer;
}

.sidebar-nav .thumbnail > .title ,
.sidebar-options .thumbnail > .title  {
    padding: 0 10px;
    margin: 0 0 10px 0;
}

#appm-navbar-nav{
    background:#21262c;

}
.navbar > .container .navbar-brand a, .navbar > .container-fluid .navbar-brand a {
    color: #C7C7C7;
    font-size: 13px;
}
#appm-navbar-nav > .container .navbar-brand, #appm-navbar-nav > .container-fluid .navbar-brand{
    background:none;
    font-size: 10px;
}
.summary-wrapper{
    color:#909090;
    margin-bottom: 10px;
}

.page-content .white-wrapper h4{
    margin-top:0px;
}
button.btn.btn-default.dropdown-toggle {
    background-color: #1C436B;
    border-color: #1C436B;
}
button.btn.btn-default.dropdown-toggle:hover {
    background-color: #315B86;
    border-color: #315B86;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:active,  .open>.dropdown-toggle.btn-default:hover{
    background-color: #315B86;
    color: #fff;
    border-color: #315B86;
}
ul.nav.nav-tabs {
    background-color: #ddd;
}
.white-wrapper>.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover .nav-tabs>li.active>a:visited {
    background-color: #fff;
    border: 1px solid #FFF;
    border-bottom-color: 0;
    border-radius: 0;
}
.white-wrapper>.nav-tabs>li>a:hover {
    border-radius: 0;
}
.body-wrapper>hr{
    border-top: 1px solid #CECDCD;
    margin-top: 50px;
}